:root {
  --primary-color: #945ad1;
  --todo-status-color: #59b4d1;
  --doing-status-color: #d0935a;
  --done-status-color: #59d090;
  --black-color: #0e021b;
  --white-color: #f9f7fa;
  --light-blue-color: #e1e8ed;
  --light-shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--light-blue-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--black-color);
}

body * {
  font-family: "Fira Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
}

.header {
  padding: 12px 8px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 4px var(--light-shadow-color);
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__title {
  color: var(--primary-color);
}

.kanban {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  flex: 1;
  background-image: url("../assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  column-gap: 12px;
  overflow-x: auto;
  padding: 40px 12px;
}

.kanban__column {
  padding: 16px 12px;
  border-radius: 4px;
  flex-basis: 280px;
  max-width: 280px;
  flex-shrink: 0;
  align-self: baseline;
  box-shadow: 3px 3px 5px var(--shadow-color);
}

.kanban__column--todo {
  background-color: var(--todo-status-color);
  animation: fadeInUp 0.4s;
}

.kanban__column--doing {
  background-color: var(--doing-status-color);
  animation: fadeInUp 0.6s;
}

.kanban__column--done {
  background-color: var(--done-status-color);
  animation: fadeInUp 0.8s;
}

.kanban__title {
  color: var(--white-color);
}

.kanban__task {
  border-radius: 4px;
  position: relative;
  padding: 16px;
  cursor: grab;
  background-color: var(--light-blue-color);
  transition: background-color 0.4s;
}

.kanban__task:hover {
  background-color: var(--light-shadow-color);
}

.kanban__task:hover > .kanban__actions {
  display: block;
}

.kanban__dropzone {
  height: 16px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 24px;
  background: var(--shadow-color);
}

.kanban__content {
  flex-grow: 1;
  cursor: pointer;
  outline-color: var(--primary-color);
  cursor: text;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--light-blue-color);
}

.kanban__actions {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
}

.button {
  font-size: 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
}

.button--actions {
  width: 36px;
  height: 36px;
  background-color: var(--light-blue-color);
  border-radius: 50%;
}

.button--actions:hover {
  filter: brightness(1.1);
}

.button--add {
  gap: 4px;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  justify-content: start;
  font-weight: 700;
  background-color: var(--light-shadow-color);
  color: var(--white-color);
}

.button--add .md {
  font-size: 28px;
}

.button--add:hover {
  background-color: var(--shadow-color);
}

.button--menu {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 700;
  justify-content: start;
  gap: 4px;
  padding: 12px 16px;
}

.button--menu:hover {
  background-color: var(--light-shadow-color);
}

.button--taskDeleteModal {
  background-color: red;
  padding: 12px 16px;
  border-radius: 4px;
  font-weight: 700;
}

.button--confirm {
  background-color: red;
  color: var(--white-color);
  transition: filter 0.4s;
}

.button--confirm:hover {
  filter: brightness(0.8);
}

.button--cancel {
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.button--cancel:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.button--close {
  width: 25px;
  height: 25px;
  font-weight: 600;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: filter 0.4s;
}

.button--close:hover {
  filter: brightness(0.8);
}

.task__menu {
  position: absolute;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 4px;
  overflow: hidden;
  animation: slideIn 0.4s;
}

.task__menu--out {
  animation: slideOut 0.4s;
}

[data-id="1"] .button__task-move-back {
  display: none;
}

[data-id="3"] .button__task-move-forward {
  display: none;
}

.hidden {
  display: none;
}

.modal {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: var(--light-blue-color);
  inset: 150px 20px;
}

.modal__close {
  width: 100%;
  display: flex;
  justify-content: end;
}

.modal::backdrop {
  backdrop-filter: blur(4px);
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
}

.content--task-delete p {
  text-align: center;
}

.actions--task-delete {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer {
  padding: 12px 8px;
  background-color: var(--black-color);
  color: var(--white-color);
}

.footer__container {
  max-width: 1280px;
  margin: 0 auto;
}

.footer__text {
  text-align: center;
  font-size: 14px;
}

.footer__text a {
  color: var(--primary-color);
  font-weight: 700;
}

.footer__text a:hover {
  text-decoration: none;
}

/* ANIMATIONS */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    transform: translateY(2%);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-80%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 500px) {
  .modal {
    inset: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1024px) {
  .kanban {
    background-size: contain;
    background-position: center;
    justify-content: center;
    gap: 32px;
  }

  /* .task__menu {
    top: 0;
    right: -135px;
  } */

  .footer__text {
    text-align: end;
  }
}
